body{
	margin:0;
	padding:0;
	box-sizing: border-box;
	background:#eeeeee;
	font-family: 'Roboto', sans-serif;
	font-size:100%;
}

p{
	margin-bottom:1.25;
}

h1,h2,h3,h4,h5,h6{
	margin-bottom: .625em;
}

ol,ul{
	margin-left:.825em;
	margin-bottom:1.25em;
}

img{
	max-width:100%;
	display: block;
}

.clearfix:after{
	content: " ";
	clear: both;
	display: table;
}



*::before, *::after{
	margin:inherit;
	padding:inherit;
	box-sizing:border-box;
}

.logo{
	float:left;
	width:5.75em;
}

.ourcontainer{
	max-width: 85vw;
	margin:0 auto;

}

.headercon{
	background:#fff;
}
.tm-nav{
	float:right;
}

.tm-nav ul{
	margin-bottom:0;
}
.tm-nav ul li{
	display: inline-block;

}

.tm-nav ul li a{
	text-decoration: none;
	padding:.625em .8em;
	color:#303030;
	line-height: 3.75em;
}

.tm-nav ul li a:hover{
	color:orangered;
}

.content{
	margin-top:1.875em;
	margin-bottom:1.875em;
	float:left;
	max-width: 70%;
}

.article{
	background-color:#fff;
	padding:1.875em;
}

.footer{
	background: #fff;
	text-align: center;
	padding: .9em;
}

.sidebar div{
	background:#fff;
	float:right;
	max-width: 25%;
	padding:1em;
		margin-top:1.875em;
	margin-bottom:1.875em;

	width: 25%;
}

